body{
    width: 100%;
    margin: 0;
    padding: 0;
    border: 0;
    -webkit-text-size-adjust: 100%;
}

a{
    color: #333;
    margin: 0;
    padding: 0;
    text-decoration: none;
}

a:hover,
a:active{
    text-decoration: none;
    cursor: pointer;
}

@media only screen and (max-width: 600px) {
    .toppic_container{
        width: 100%;
        height: 50vw;
        margin:0 0;
        padding: 62px 0 0;
    }
    
    .top_pics{
        width: 100%;
        height: 100%;
        margin: 0 0;
        padding: 0;
        object-fit: cover;
    }

    .body_content{
        margin:  0 5%;
        width: 90%;
        padding-top: 20px;
        padding-bottom: 50px;
    }

    .aboutsai3{
        height: 10vw;
        margin: 0;
        padding: 0 2%;
    }

    .aboutsai3_text {
        color: black;
        font-family: 'Noto Sans JP', sans-serif;
        font-weight: 400;
        font-style: regular;
        font-size: 12px;
        letter-spacing: 0.84px;
        line-height: 28px;
        padding: 0 2%;
        margin: 0 0 7px;
    }

    .jiccho{
        height: 10vw;
        margin: 30px 0 0 0;
        padding: 0 2%;
    }

    .jiccho_text{
        color: black;
        font-family: 'Noto Sans JP', sans-serif;
        font-weight: 400;
        font-style: regular;
        font-size: 12px;
        letter-spacing: 0.84px;
        line-height: 28px;
        padding: 0 2%;
        margin: 0 0 7px;
    }

    .jicho_name{
        width: 100%;
        height: 5vw;
        margin: 20px 0 0;
        padding: 0;
        position: relative;
    }

    .jicho_name img{
        width: 32vw;
        margin: 0;
        padding: 0;
        right: 4vw;
        top: 0;
        position: absolute;
    }

    .aisatsu{
        height: 10vw;
        margin: 30px 0 0 0;
        padding: 0 2%;
    }

    .aisatsu_text {
        color: black;
        font-family: 'Noto Sans JP', sans-serif;
        font-weight: 400;
        font-style: regular;
        font-size: 12px;
        letter-spacing: 0.84px;
        line-height: 28px;
        padding: 0 2%;
        margin: 0 0 7px;
    }

    .principle{
        width: 100%;
        height: 30vw;
        margin: 20px 0;
        padding: 0;
        position: relative;
        text-align: right;
    }

    .koucho_pic{
        width: 25vw;
        margin: 0;
        padding: 0;
        position: absolute;
        top: 0%;
        right: 2vw;
    }

    .koucho_name{
        width: 35vw;
        margin: 0;
        padding: 0;
        position: absolute;
        bottom: 0;
        right: 29vw;
    }


}


@media only screen and (min-width: 600px) {
    .toppic_container{
        width: 100%;
        height: 30vw;
        margin:0 0;
        padding: 0;
        position: relative;
    }

    .top_pics{
        width: 100%;
        height: 100%;
        margin: 0;
        padding: 0;
        object-fit: cover;
    }

    .body_content{
        margin:  0 auto;
        width: 70%;
        max-width: 1240px;
        padding-top: 90px;
        padding-bottom: 50px;
    }

    .aboutsai3{
        height: 70px;
        margin: 0;
        padding: 0;
    }

    .aboutsai3_text{
        color: black;
        font-family:"Yu Gothic Medium", "游ゴシック Medium", YuGothic, "游ゴシック体",'Noto Sans JP';
        font-weight: 700;
        font-style: normal;
        font-size: 18px;
        letter-spacing: 0.07em;
        line-height: 38px;
    }

    .jiccho{
        height: 70px;
        margin: 40px 0 0 0;
        padding: 0;
    }
    
    .jiccho_text{
        color: black;
        font-family:"Yu Gothic Medium", "游ゴシック Medium", YuGothic, "游ゴシック体", 'Noto Sans JP';
        font-weight: 700;
        font-style: normal;
        font-size: 18px;
        letter-spacing: 0.07em;
        line-height: 40px;
    }

    .jicho_name{
        width: 100%;
        height: 5vw;
        margin: 0;
        padding: 0;
        position: relative;
    }

    .jicho_name img{
        width: 13vw;
        margin: 0;
        padding: 0;
        right: 0;
        top: 0;
        position: absolute;
    }

    .aisatsu{
        height: 70px;
        margin: 40px 0 0 0;
        padding: 0;
    }

    .aisatsu_text{
        color: black;
        font-family:"Yu Gothic Medium", "游ゴシック Medium", YuGothic, "游ゴシック体", 'Noto Sans JP';
        font-weight: 700;
        font-style: normal;
        font-size: 18px;
        letter-spacing: 0.07em;
        line-height: 40px;
    }

    .principle{
        width: 100%;
        height: 20vw;
        margin: 40px 0;
        padding: 0;
        position: relative;
        text-align: right;
    }

    .koucho_pic{
        width: 15vw;
        margin: 0;
        padding: 0;
        position: absolute;
        top: 0%;
        right: 0%;
    }

    .koucho_name{
        width: 15vw;
        margin: 0;
        padding: 0;
        position: absolute;
        bottom:0;
        right: 18vw;
    }

}
