

@media only screen and (max-width: 600px) {
    .top_image{
        width: 100%;
        vertical-align: bottom;
        margin: 0;
        padding: 0;
    }

    .img_pc{
        display: none;
    }

    .img_mobile{
        display: block;
        width: 100%;
        margin: 0;
        padding: 0;
    }

    .body_contents{
        margin: 0 5%;
        padding: 0;
        width: 90%;
    }

    .notice{
        margin: 30px 0 0 0;
        padding: 0;
        width: 100%;
        text-align: center;
    }

    .notification_area{
        margin: 0 1.5%;
        padding: 0;
        width: 97%;
        text-align: left;
    }

    #notifications{
        width: 100%;
        height: 22vw;
        text-align: left;
        margin: 7vw 0;
        padding: 0;
        border-bottom: 0.5px solid rgb(151, 151, 151);
    }

    #notifications p{
        letter-spacing: 0.6px;
        text-align: left;
        font-family: 'Noto Sans JP', sans-serif;
        font-weight: normal;
    }

    #notifications_title{
        margin: 0 2.5%;
        height: 5vw;
        width: 95%;
        padding: 10px 0 0;
        display: inline-block;
        line-height: 5vw;
    }

    #pink_dot{
        width: 12px;
        height: 12px;
        padding: 0;
        margin: 0;
        border: none;
        border-radius: 6px;
        background-color: #FF6B60;
        display: inline-block;
        line-height: 12px;
    }

    #purple_dot{
        width: 12px;
        height: 12px;
        padding: 0;
        margin: 0;
        border: none;
        border-radius: 6px;
        background-color: #185F8D;
        display: inline-block;
        line-height: 12px;
    }

    #notification_style{
        font-size: 14px;
        line-height: 14px;
    }

    #notification_date{
        font-size: 10px;
        line-height: 12px;
        color: rgb(82, 82, 82);
    }
 
    #notification_text{
        padding: 0;
        margin: 1.8vw 2.5%;
        text-align: left;
        font-size: 16px;
        line-height: 16px;
        display: inline-block;
        font-weight: bold !important;
    }

    #subtitle{
        padding:0;
        margin: 0;
        height: 13vw;
    }

    .theme_container{
        width: 100%;
        padding: 0;
        margin:0;
    }

    .theme_pic_container{
        width: 70%;
        margin: 0;
        padding: 0 15%;
    }

    .theme_pic_container img{
        width: 100%;
        margin: 0;
        padding: 0;
    }

    .theme_description{
        width: 100%;
        margin: 5vw 0;
    }

    .theme_description p {
        width: 90%;
        padding: 0;
        margin: 0 5%;
        font-size: 12px;
        line-height: 28px;
        letter-spacing: 0.84px;
        text-align: left;
        font-family: 'Noto Sans JP', sans-serif;
        font-weight: regular;
    }
    
    #subcontents{
        text-align: center;
        width: 100%;
        margin: 40px 0 ;
        padding: 0;
    }

    a{
        color: #333;
        margin: 0;
        padding: 0;
        text-decoration: none;
    }

    a:hover,
    a:active{
        text-decoration: none;
    }

    ul{
        margin:0;
        padding: 0;
        list-style: none;
      }

    .slider_contrainer p{
        text-align: center;
        font-family: 'Noto Sans JP', sans-serif;
        font-size: 5vw;
        font-weight: bold;
        letter-spacing: 0.1vw;
      }

      .slider_contrainer{
        margin: 20px  0;
        padding: 0;
        width: 100%;
    
      }

        /*==================================================
    スライダーのためのcss
    ===================================*/
    .slider {
        width:94%;
        margin:0 auto;
    }
    
    .slider img {
        width:100%;/*スライダー内の画像を横幅100%に*/
        height:auto;
        z-index: 10;
    }
    
    /*slickのJSで書かれるタグ内、スライド左右の余白調整*/
    
    .slider .slick-slide {
        margin:0 30px;
    }
    
    /*矢印の設定*/
    
    /*戻る、次へ矢印の位置*/
    .slick-prev, 
    .slick-next {
        position: absolute;/*絶対配置にする*/
        top: 42%;
        cursor: pointer;/*マウスカーソルを指マークに*/
        outline: none;/*クリックをしたら出てくる枠線を消す*/
        border-top: 3px solid rgb(53, 53, 53);/*矢印の色*/
        border-right: 3px solid rgb(53, 53, 53);/*矢印の色*/
        height: 20px;
        width: 20px;
    }
    
    .slick-prev {/*戻る矢印の位置と形状*/
        left: 0%;
        transform: rotate(-135deg);
        z-index: 11;
    }
    
    .slick-next {/*次へ矢印の位置と形状*/
        right: 0%;
        transform: rotate(45deg);
        z-index: 12;
    }
    
    /*ドットナビゲーションの設定*/
    
    .slick-dots {
        text-align:center;
        margin:15px 0 0 0;
    }
    
    .slick-dots li {
        display:inline-block;
        margin:0 5px;
    }
    
    .slick-dots button {
        color: transparent;
        outline: none;
        width:4px;
        height:4px;
        display:block;
        border-radius:50%;
        background:rgb(231, 230, 230);/*ドットボタンの色*/
        padding: 4px;
        border: none;
    }
    
    .slick-dots .slick-active button{
        background:#333;/*ドットボタンの現在地表示の色*/
    }

    .article_link_container{
        width: 100%;
        position:relative;
    }

    .articles_home_link{
        position: absolute;
        top: 0%;
        right: 5%;
        margin:20px 0;
        font-size: 14px;
        font-family: 'Noto Sans JP', sans-serif;
        font-weight: 500;
    }

    .flex-container{
        margin: 40px 0;
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    #flex-contents{
        width: 95%;
        margin: 20px 0;
        padding-bottom: 10px;
        position: relative;
        border-bottom: 1px solid #A5A5A5;
        text-align: left;
    }

    #post_date{
        font-size: 8px;
        line-height: 22px;
        letter-spacing: 1px;
        text-align: left;
        font-family: 'Noto Sans JP', sans-serif;
        font-weight: 500;
        margin-left: 5px;
        color: #909090;
    }

    #flex-contents:hover{
        opacity: 0.5;
    }

    #flex-contents img{
        width: 40%;
        padding: 0;
        margin: 0;
        display: inline-block;
        border-radius: 5px;
        border: 1px solid black;
    }

    #flex-contents h2 {
        font-size: 13px;
        text-align: left;
        padding: 0;
        margin: 0;
        font-family: 'Noto Sans JP', sans-serif;
        font-weight: 600;
        letter-spacing: 0.6px;
        color: #404040;
    }

    #flex-contents h1 {
        font-size: 15px;
        text-align: left;
        padding: 0;
        margin: 6px 0;
        font-family: 'Noto Sans JP', sans-serif;
        font-weight: 600;
        letter-spacing: 0.4px;
    } 
    

    #post_description{
        margin: 0;
        padding: 1px 0;
        width: 50%;
        position: absolute;
        top: 0%;
        left: 45%;
        text-align: left;
    }

    #post_classification{
        font-size: 13px;
        text-align: left;
        padding: 0 2px;
        margin: 0;
        font-family: 'Noto Sans JP', sans-serif;
        font-weight: 600;
        letter-spacing: 0.6px;
        color: #404040;
    }
}

@media only screen and (min-width: 600px) {
    .body_contents{
        margin: 5%;
        padding: 0;
        width: 90%;
    }

    .top_image{
        width: 100%;
        vertical-align: bottom;
        margin: 0;
        padding: 0;
    }

    .top_image img{
        width: 100%;
        margin: 0;
        padding: 0;
    }

    .img_pc{
        display: block;
        width: 100%;
        margin: 0;
        padding: 0;
    }

    .img_mobile{
        display: none;
    }
    
    #subtitle{
        padding:0;
        margin: 30px 0 ;
        height: 60px;
    }

    .notice{
        margin: 0 5%;
        padding: 0;
        width: 90%;
        text-align: center;
    }

    .notification_area{
        margin: 0 1.5%;
        padding: 0;
        width: 97%;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    #notifications{
        display: block;
        flex-basis:50%;
        width: 30vw;
        height: 140px;
        text-align: left;
        margin: 20px 3vw;
        padding: 0;
        border-bottom: 0.5px solid rgb(151, 151, 151);
        transition: all 0.7s;
        background-color: white;
    }

    #notifications:hover{
        background-color: #E7E7E7;
        transform: translateY(-10px);
    }

    #notifications p{
        letter-spacing: 0.6px;
        text-align: left;
        font-family:"Yu Gothic Medium", "游ゴシック Medium", YuGothic, "游ゴシック体",'Noto Sans JP';
    }

    #notifications_title{
        margin: 0 2.5%;
        height: 30px;
        width: 95%;
        padding: 10px 0 0;
        display: inline-block;
    }

    #pink_dot{
        width: 16px;
        height: 16px;
        padding: 0;
        margin: 0;
        border: none;
        border-radius: 8px;
        background-color: #FF6B60;
        display: inline-block;
        line-height: 16px;
    }

    #purple_dot{
        width: 16px;
        height: 16px;
        padding: 0;
        margin: 0;
        border: none;
        border-radius: 8px;
        background-color: #185F8D;
        display: inline-block;
        line-height: 16px;
    }

    #notification_style{
        font-size: 16px;
        line-height: 16px;
        font-weight: 700;
        font-style: normal;
    }

    #notification_date{
        font-size: 12px;
        line-height: 12px;
        font-weight: 700;
        font-style: normal;
        color: rgb(82, 82, 82);
    }
 
    #notification_text{
        padding: 0;
        margin: 22px 2.5%;
        text-align: left;
        font-size: 18px;
        line-height: 18px;
        display: inline-block;
        font-weight: bold !important;
    }

    .theme_container{
        width: 100%;
        padding: 0;
        margin:0;
    }

    .theme_pic_container{
        width: 22.5vw;
        margin: 0 2vw;
        padding: 0;
        display: inline-block;
    }

    .theme_pic_container img{
        width: 100%;
        margin: 0;
        padding: 0;
    }

    .theme_description{
        width: 55vw;
        height: 36vw;
        margin: 5vw 0;
        padding: 0vw 0 0vw 2.25vw;
        display: inline-block;
        border-left: 3px solid black;
        position:relative;
    }

    .theme_description p{
        position:absolute;
        top: 50%;
        transform: translateY(-50%);
        width: 90%;
        padding: 0;
        margin: 0 5%;
        text-align: left;
        color: black;
        font-family:"Yu Gothic Medium", "游ゴシック Medium", YuGothic, "游ゴシック体",'Noto Sans JP';
        font-weight: 700;
        font-style: normal;
        font-size: 18px;
        letter-spacing: 0.07em;
        line-height: 38px;
    }

    #subcontents{
        text-align: center;
        width: 100%;
        margin: 40px 0;
        padding: 0;
    }

    a{
        color: #333;
        margin: 0;
        padding: 0;
        text-decoration: none;
    }

    a:hover,
    a:active{
        text-decoration: none;
    }

    .slider_contrainer ul{
        margin:0;
        padding: 0;
        list-style: none;
    }

    .slider_contrainer p{
        text-align: center;
        font-family:'Noto Sans JP',sans-serif;
        font-size: 24px;
        font-weight: 600;
        letter-spacing: 0.07em;
    }

    .slider_contrainer{
        margin:0;
        padding: 0;
        width: 100%;
    }

    .slider img{
        opacity: 1;
        transition: all 0.5s;
    }
    .slider img:hover{
        opacity:0.5;
    }
      
    /*==================================================
    スライダーのためのcss
    ===================================*/
    .slider {
        width:100%;
        margin:0 auto;
    }
    
    .slider img {
        width:100%;/*スライダー内の画像を横幅100%に*/
        height:auto;
    }
    
    /*slickのJSで書かれるタグ内、スライド左右の余白調整*/
    .slider .slick-slide {
        margin:0 40px;
    }
    
    /*矢印の設定*/

    /*戻る、次へ矢印の位置*/
    .slick-prev, 
    .slick-next {
        position: absolute;/*絶対配置にする*/
        top: 42%;
        cursor: pointer;/*マウスカーソルを指マークに*/
        outline: none;/*クリックをしたら出てくる枠線を消す*/
        border-top: 3px solid rgb(53, 53, 53);/*矢印の色*/
        border-right: 3px solid rgb(53, 53, 53);/*矢印の色*/
        height: 25px;
        width: 25px;
    }
    
    .slick-prev {/*戻る矢印の位置と形状*/
        left: -1.5%;
        transform: rotate(-135deg);
    }
    .slick-next {/*次へ矢印の位置と形状*/
        right: -1.5%;
        transform: rotate(45deg);
    }
    
    /*ドットナビゲーションの設定*/
    .slick-dots {
        text-align:center;
        margin:20px 0 0 0;
    }
    .slick-dots li {
        display:inline-block;
        margin:0 5px;
    }
    .slick-dots button {
        color: transparent;
        outline: none;
        width:8px;
        height:8px;
        display:block;
        border-radius:50%;
        background:rgb(231, 230, 230);/*ドットボタンの色*/
        padding: 7px;
        border: none;
    }
    .slick-dots .slick-active button{
        background:#333;/*ドットボタンの現在地表示の色*/
    }

    .article_link_container{
        width: 100%;
        position:relative;
    }

    .articles_home_link{
        position: absolute;
        top: 0%;
        right: 5%;
        margin-bottom: 50px;
        font-size: 20px;
        font-family:"Yu Gothic Medium", "游ゴシック Medium", YuGothic, "游ゴシック体",'Noto Sans JP';
        font-weight: 500;
    }

    .flex-container{
        margin: 50px 0;
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    #flex-contents{
        width: 38%;
        margin: 10px 4%;
        padding-bottom: 15px;
        position: relative;
        text-align: left;
        transition: all 0.7s;
        opacity: 1;
    }

    #flex-contents:hover{
        opacity: 0.7;
        transform: translateY(-10px);
    }

    #post_date {
        font-size: 14px;
        line-height: 22px;
        letter-spacing: 1px;
        text-align: left;
        font-family:"Yu Gothic Medium", "游ゴシック Medium", YuGothic, "游ゴシック体",'Noto Sans JP';
        font-weight: 500;
        margin-left: 14px;
        color: #909090;
    }

    #flex-contents img{
        width: 100%;
        padding: 0;
        margin: 0;
        display: inline-block;
    }

    #flex-contents h2 {
        font-size: 18px;
        text-align: left;
        padding: 0;
        margin: 0;
        font-family:"Yu Gothic Medium", "游ゴシック Medium", YuGothic, "游ゴシック体",'Noto Sans JP';
        font-weight: 600;
        letter-spacing: 1.7px;
        color: #4c4c4c;
    }

    #flex-contents h1 {
        font-size: 24px;
        text-align: left;
        padding: 0;
        margin: 10px 0;
        font-family:'Noto Sans JP',sans-serif;
        font-weight: 600;
        letter-spacing: 1.5px;
    }

    #post_description {
        margin: 0;
        padding: 25px 4px;
        width: 100%;
        text-align: left;
    }

    #post_classification{
        padding-left: 8px;
    }

    @media only screen and (max-width: 1000px) {
        #flex-contents{
            width: 40%;
            margin: 5%;
        }

        .theme_description p{
            font-size: 14px;
            line-height: 22px;
            letter-spacing: 1px;
            text-align: left;
            font-family:"Yu Gothic Medium", "游ゴシック Medium", YuGothic, "游ゴシック体",'Noto Sans JP';
            font-weight: normal;
        }
    }
}
