body{
    margin: 0;
    padding: 0;
    border: 0;
    -webkit-text-size-adjust: 100%;
}

a{
    color: #333;
    margin: 0;
    padding: 0;
    text-decoration: none;
}

a:hover,
a:active{
    text-decoration: none;
}

@media only screen and (max-width: 600px) {
    .header_icon{
        width:100px;
        top: 13px;
        left: 13px;
        position: fixed;
        margin: 0;
        z-index: 904;
    }

    .header{
        position: fixed;
        width: 100%;
        min-height: 60px;
        border-bottom: 2px solid rgb(212, 212, 212);
        background-color: white;
        z-index: 903;
    }

    .justbackground{
        position: fixed;
        width: 100%;
        height: 60px;
        background-color: white;
        z-index: 902;
    }

    /*　ハンバーガーボタン　*/
    .hamburger {
        display : block;
        position: fixed;
        z-index : 903;
        right : 13px;
        top   : 12px;
        width : 42px;
        height: 42px;
        cursor: pointer;
        text-align: center;
    }
    .hamburger span {
        display : block;
        position: absolute;
        width   : 30px;
        height  : 2px ;
        left    : 6px;
        background : #555;
        -webkit-transition: 0.3s ease-in-out;
        -moz-transition   : 0.3s ease-in-out;
        transition        : 0.3s ease-in-out;
    }
    .hamburger span:nth-child(1) {
        top: 10px;
    }
    .hamburger span:nth-child(2) {
        top: 20px;
    }
    .hamburger span:nth-child(3) {
        top: 30px;
    }
    
    /* ナビ開いてる時のボタン */
    .hamburger.active span:nth-child(1) {
        top : 16px;
        left: 6px;
        -webkit-transform: rotate(-45deg);
        -moz-transform   : rotate(-45deg);
        transform        : rotate(-45deg);
    }
    
    .hamburger.active span:nth-child(2),
    .hamburger.active span:nth-child(3) {
        top: 16px;
        -webkit-transform: rotate(45deg);
        -moz-transform   : rotate(45deg);
        transform        : rotate(45deg);
    }


    nav.hamburger_list {
        margin: 0;
        padding: 0;
        border: 0;
        position: fixed;
        z-index : 901;
        top  : 60px;
        left : 0;
        color: #000;
        background: white;
        text-align: left;
        transform: translateY(-150%);
        transition: all 0.6s;
        width: 100%;
        height: 160px;
    }
      
    /* このクラスを、jQueryで付与・削除する */
    nav.hamburger_list.active {
        transform: translateY(0%);
    }

    nav.hamburger_list h1{
        font-family: 'Hind', sans-serif;
        font-size: 15px;
        padding: 0 24px;
        line-height: 25px;
        letter-spacing: 1.7px;
    }

    nav.hamburger_list a{
        text-decoration: none;
        color: black;
    }

    .footer{
        margin: 0;
        padding: 0;
        border-top: 3px black solid;
        width: 100%;
        height: 50vw;
        position: relative;
    }

    .footer_icon_container{
        width:28vw;
        margin: 0;
        height: auto;
        display: inlne-block;
        padding-top: 5vw;
        padding-left: 5vw;
    }

    .footer img{
        width:100%;
        margin: 0;
        display: block;
    }

    .footer ul{
        margin:0;
        padding: 0;
        list-style: none;
        width: 60vw;
        display: inlne-block;
        position: absolute;
        top: 5vw;
        left: 40vw;
    }

    .footer_links p{
        margin: 0;
        font-size: 3.2vw;
        line-height: 4.4vw;
        font-family: 'Noto Sans JP', sans-serif;
        font-weight: bold;
        padding: 0 0 4.6vw 0;
    }

    .address{
        margin: 0;
        padding: 0;
        position: static;
        text-align: center;
        position: relative;
        top: 20vw;
    }

    .address p {
        margin: 0;
        padding: 0;
        font-size: 2.8vw;
        line-height: 5.6vw;
        font-family: 'Noto Sans JP', sans-serif;
        font-weight: lighter;
        padding: 0.2px 0;
        letter-spacing: 0.3px;
    }
}

@media only screen and (min-width: 600px) {
    .header_icon{
        width:100px;
        margin-top: 22px;
        margin-left: 22px;
    }
    
    .header{
        width: 100%;
        height: 80px;
        border-bottom: 1px solid rgb(212, 212, 212);
        position: fixed;
        top: 0px;
        background: white;
        z-index: 999;
    }

    nav.hamburger_list{
        width: 50vw;
        height: 5.2vw;
        margin: 0;
        padding: 0;
        border: 0;
        position:absolute;
        right:0.8vw;
        top: 0;
        font-size: 0;
    }

    nav.hamburger_list h1{
        text-align:center;
        display:inline-block;
        font-family: 'Hind', sans-serif;
        font-size: 16px;
        padding:0;
        line-height: 80px;
        letter-spacing: 1.7px;
    }

    nav.hamburger_list a{
        text-decoration: none;
        color:black;
    }

    .header_home{
        width: 90px;
        height: 80px;
        margin: 0;
        padding: 0;
        display: inline-block;
        position: absolute;
        top:0px;
        right: 300px;
    }

    .header_home::after {
        position: absolute;
        bottom: 0px;
        left: 0;
        content: '';
        width: 100%;
        height: 1.2px;
        background: #333;
        transform: scale(0, 1);
        transform-origin: center top;
        transition: transform .3s;
        transform: scale(1, 1); /* homeなので*/
    }

    .header_home:hover::after {
        transform: scale(1, 1);
    }

    .header_contents{
        width: 98px;
        height: 80px;
        margin: 0;
        padding: 0;
        display: inline-block;
        position: absolute;
        top:0px;
        right: 202px;
    }

    .header_contents::after {
        position: absolute;
        bottom: 0px;
        left: 0;
        content: '';
        width: 100%;
        height: 1.2px;
        background: #333;
        transform: scale(0, 1);
        transform-origin: center top;
        transition: transform .3s;
    }

    .header_contents:hover::after {
        transform: scale(1, 1);
    }
    
    .header_articles{
        width: 109px;
        height: 80px;
        margin: 0;
        padding: 0;
        display: inline-block;
        position: absolute;
        top:0px;
        right: 93px;
    }

    .header_articles::after {
        position: absolute;
        bottom: 0px;
        left: 0;
        content: '';
        width: 100%;
        height: 1.2px;
        background: #333;
        transform: scale(0, 1);
        transform-origin: center top;
        transition: transform .3s;
    }

    .header_articles:hover::after {
        transform: scale(1, 1);
    }
    
    .header_about{
        width: 93px;
        height: 80px;
        margin: 0;
        padding: 0;
        display: inline-block;
        position: absolute;
        top:0px;
        right: 0px;
    }

    .header_about::after {
        position: absolute;
        bottom: 0px;
        left: 0;
        content: '';
        width: 100%;
        height: 1.2px;
        background: #333;
        transform: scale(0, 1);
        transform-origin: center top;
        transition: transform .3s;
    }

    .header_about:hover::after {
        transform: scale(1, 1);
    }

    .footer{
        margin: 0;
        padding: 0;
        border-top: 3px black solid;
        width: 100%;
        height: 20vw;
        position: relative;
    }

    .footer_icon_container{
        width:180px;
        margin: 0;
        height: 10vw;
        display: inline-block;
        padding-top: 60px;
        padding-left: 60px;
    }

    .footer img{
        width:100%;
        margin: 0;
        display: block;
    }

    .footer ul{
        margin:0;
        padding: 40px 0;
        list-style: none;
        width: 40vw;
        display: inline-block;
        height: 15vw;
        position: absolute;
        top: 0;
        left: 330px;
    }


    .footer_links p{
        margin: 0;
        font-size: 17px;
        line-height: 1.2vw;
        font-family: 'Noto Sans JP', sans-serif;
        font-weight: bold;
        padding: 20px;
    }

    .address {
        padding-top: 80px;
        padding-right: 30px;
        padding-bottom: 40px;
        text-align: right;
    }

    .address p{
        margin: 0;
        padding: 0;
        font-size: 12px;
        line-height: 1.6vw;
        font-family: 'Noto Sans JP', sans-serif;
        font-weight: lighter;
        padding: 0.2vw 0;
    }
}